.navbar {
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 100px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar-logo{
    font-size: 30px;
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 150px;
    width: auto;
    margin-right: 10px;
}

.navbar-btn {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 0.5rem 1rem;
    margin-left: 10px;
}

.btn-switchMode {
    background-color: transparent;
    border: none;
    text-transform: none;
    letter-spacing: 0em;
    margin-right: 15px;
}

.role{
    color: #cfcf00;
    letter-spacing: 0.05em;
    padding: 0.5rem 1rem;
    margin-left: 10px;
}

.dropdown-menu {
    width: auto;
    min-width: 146px;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
}

.dropdown-menu .passwordButton:hover {
    background-color: white;
    color: #007bff;
}
.dropdown-menu .deleteButton:hover {
    background-color: white;
    color: red;
}
.dropdown-menu .logoutButton:hover {
    background-color: white;
    color: #acacac;
}